<div class="main top-main">
  <div class="top-message">
    <h1>気軽に頼みごとができるアプリ「NP Favor」</h1>
    <h1>ちょっとした頼みごとを気軽にお願いしよう！</h1>
    <%= link_to("依頼者はこちら", "/tasks/new") %>
    <%= link_to("受託者はこちら", "/login") %>

  </div>
</div>
